.container{
    margin-top: 10px;
    background-color: var(--bgSoft);
    padding:20px;
    border-radius: 10px;
}
.heading{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--textSoft);
}
.table {
    width: 100%;
    font-size: 14px;
}
.table td{
    padding:10px;
}
.imgContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.userImage{
    object-fit: cover;
    border-radius: 50%;
}